.header-hero-wrapper {
    position: relative;
    margin-top: 12.9rem;
    .header-hero-left-image {
        position: absolute;
        left: -16.8rem;
    }
    .header-hero-right-image {
        position: absolute;
        right: 0;
        top: 35rem;
    }
    h1 {
        font-size: $h1-lage-font-size;
        line-height: $h1-lage-lh;
    }
}
.header-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-hr {
        width: 50px;
        height: 4px;
        background-color: $secondary-rapture-blue;
        border-style:none;
    }
    &-item {
        display: flex;
        flex-direction: column;
    }
    &-h {
        width: 52.6rem;
        span {
            color: $primary-ligth-coral;
        }
    }
    p {
        width: 44.5rem;
        font-size: $body1-font-size;
        font-weight: 600;
        line-height: 1.55;
        margin-top: 7.9rem;
    }
}
@media (max-width: 1530px) {
    .header-hero {
        &-left-image {
            display: none;
        }

       
    }
    .header-hero-right-image {
        position: static;
        top: 0rem;

        // display: flex;
        // background-color: aqua;
        
    }
    .header-heading {
        flex-direction: column;
        // background-color: aqua;
        h1 {
            font-size: 6.4rem;
            text-align: center;
        }
     
    }
   
    .header-hero-wrapper {
        // height: 100%;
        display: flex;
        flex-direction: column;
        position: static;
        // align-items: center;   
        // justify-content: space-between;
        // background-color: aqua;

    }
}
@media (max-width: 970px) {
    p {
        font-size: 1.5rem;
    }
    .header-heading {
        h1 {
            font-size: 4rem;
        }
    }
   
}

