.main-about {
    height: auto;
    // width: 100%;
}
.about-start {
    background-image: url(/images/about-start.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about-start-container {
    height: 100%;
    display: flex;
    padding-top: 12rem;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12rem;
    
}
.about-start-items {
    p {
        width: 690px;
        @include paragraph;
        text-align:start;
    }
    hr {
            width: 50px;
            height: 4px;
            background-color: $primary-ligth-coral;
            border-style:none;
            margin-bottom: 4rem;
    }

}

// about centr one
.about-centr-one {
    background-image: url(/images/about-centr-bj-top.png),
    url(/images/about-centr-bj-bottom.png);
background-position: left top, right bottom;
background-repeat: no-repeat;
background-color: $secondary-deep-jungle-green;
}
.about-centr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14rem;
    h2 {
        padding-top: 14rem;
        padding-bottom: 6.4rem;
    }
}
.about-centr-one-ul {
    // width: 100%;
    // height: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 7.2rem;
   

    li {
        // width: 100%;
        // height: auto;
        background-color: $secondary-sacramento-state-green;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a {
            color: $secondary-rapture-blue;
            font-weight: 700;
            line-height: 1.55;
        }
    }
    p {
        padding-bottom: 2.8rem;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 500;
    }
    &-img {
        padding-top: 3.2rem;
        // background-color: $secondary-sacramento-state-green;
        padding-left: 12.7rem;
        padding-right: 12.7rem;
        margin-bottom: 1.6rem;
    }
}
.red-plus {
    margin-bottom: -2.8rem;
}
.about-special {
    &-link {
        padding-top: 3.5rem;
        padding-bottom: 0.8rem;
    }
    &-image {
        // margin-top: 2.4rem;
        margin-bottom: 3.5rem;
        // padding-left: 14.5rem;
        // padding-right: 14.5rem;
    }
    &-link2 {
        margin-bottom: -2.8rem;
        padding-left: 14.7rem;
        padding-right: 14.7rem;
    }
    &-text {
        // width: unset;
        padding-left: 5rem;
        padding-right: 5rem;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }
}

// about pre end
.about-pre-end {
    background-color: $secondary-sacramento-state-green;
    background-image: url(/images/about-pre-end-img.svg);
    background-repeat: no-repeat;
}
.about-pre-end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15.1rem;
    }
    h2 {
        padding-top: 14rem;
    }
}

// media about pre end 
@media (max-width: 1100px) {
    .about-pre-end {
        img {
            width: 103px;
            height: auto;
            margin-right: 2rem;
        }
    }
    .about-pre-end {
        background-image: url(/images/about-pre-end-bj-tablet.png);
        h2 {
            font-size: 3.2rem;
           
        }
    }
}
@media (max-width: 685px) {
    .about-pre-end-container {
        ul {
            flex-direction: column;
            gap: 5rem;
        }
    }
    .about-pre-end {
        background-image: url(/images/about-pre-end-bj-mobile.png);
    }
}

// media centr 
@media (max-width: 1200px) {
    .about-centr-one-ul {
        flex-direction: column;
        margin-bottom: 5.2rem;
        gap: 5.2rem;
    }
    .about-special {
        &-text {
            width: 250px;
            // height: 75px;
        }
      
    }
    .about-centr-one {
        background-image: url(/images/about-mobile-bj-top.png),
        url(/images/about-centr-bj-bottom.png);
    }
    .about-centr-container {
        h2 {
            font-size: 3.2rem;
        }
    }
}
@media (max-width:380px) {

    .about-special {
        &-text {
            width: unset;
        }
        &-link2 {
            margin-bottom: -2.8rem;
            padding-left: 13.5rem;
            padding-right: 13.5rem;
        }
    }
  
    .about-centr-one-ul {
        &-img {
            padding-left: 11.5rem;
            padding-right: 11.5rem;
        }
    }
  
}


// media start
@media (max-width:1245px) {
    .about-start-container {
        flex-direction: column;
        align-items: center;

    }
    .about-start-items {
        p {
            padding-top: 2.4rem;
            width: 427px;
            font-size: 1.5rem;
            text-align: center;
        }
        hr {
            display: none;
        }
    }
}
@media (max-width: 650px) {
    .about-start-items {
        padding-top: 1.6rem;
    }
    .about-start-container {
        h1 {
            font-size: 4rem;
        }
    }
    .about-start {
        background-image: url(/images/start-about-mobile-bi.png);
    }
}
@media (max-width: 455px) {
    .about-start-items {
        p {
            padding-top: 2.4rem;
            width: unset;
            font-size: 1.5rem;
            text-align: center;
        }
      
    }
}